<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>License申请</title>
    <style>
        body {
            font-family: Microsoft Yahei, Helvetica Neue, Luxi Sans, DejaVu Sans,
            Tahoma, Hiragino Sans GB;
            background: #FFF;
            margin: 0px;
            padding: 10px;
            color: #525252;
            font-size: 12px;
        }
        p {
            text-align: left;
            padding-left: 22px;
        }
    </style>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/liveValidation.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/static/js/content.min.js}"></script>
    <script th:src="@{/static/js/plugins/messager/jquery.messager.min.js}"></script>
    <script th:src="@{/static/js/plugins/layers/layer.js}"></script>
    <script th:src="@{/static/js/plugins/ajaxfileupload/ajaxfileupload.js}"></script>
    <script th:src="@{/static/js/livevalidation.js}"></script>
    <script th:inline="javascript">
        function updatecheck() {
            if (confirm(("您确定要进行此操作吗？"))) {
                $('#authorityForm').submit();
            } else {
                return;
            }
        }

        function exportFile() {
            var url = /*[[@{/license/export}]]*/ "";
            window.frames['xxx'].location = url;
        }

        function showMsg(param) {
            if (param == "suc") {
                $("#resultMsg").empty();
                $("#resultMsg").css("color", "green");
                $("#resultMsg").text("license文件更新成功");
            } else if (param == "error") {
                $("#resultMsg").empty();
                $("#resultMsg").css("color", "red");
                $("#resultMsg").text("license文件更新失败");
            } else if (param == "invalid") {
                $("#resultMsg").empty();
                $("#resultMsg").css("color", "red");
                $("#resultMsg").text("此license文件无效");
            }
        }

        $(document).ready(function () {
            //文件显示
            $('#license').change(function () {
                $('#licenseLabel').text($('#license').val());
                if (confirm(("您确定要进行此操作吗？"))) {
                    $('#authorityForm').submit();
                } else {
                    return;
                }
            });

        });
    </script>
</head>
<body class="gray-bg">
<iframe id="lice-form" name="lice-form" style="display:none"></iframe>
<iframe id="xxx" name="xxx" style="display:none"></iframe>
<div>
    <form id="authorityForm" class="form-horizontal" th:action="@{/authorize/update}" enctype="multipart/form-data"
          method="post" target="lice-form">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>服务器信息</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="container">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">服务器端口:</label>
                                    <div class="col-sm-4">
                                        <span class="form-control" style="border: 0" th:text="${port}">port</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-4">
                                        <input type="button" class="btn btn-default" value="导出服务器信息"
                                               onclick="exportFile()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>License文件更新</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="container">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上传License文件:</label>
                                    <div class="col-sm-4">
                                        <input type="file" name="license" id="license" style="display: none"/>
                                        <label for="license" class="btn btn-default">点击上传</label>
                                        <span id="licenseLabel" style="color: #676a6c;font-size: 18px"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="display: none">
                                    <div class="col-sm-offset-2 col-sm-4" id="submitCheckResult">
                                        <input type="submit" class="btn btn-default" value="提&nbsp;交"
                                               onclick="updatecheck();return false;"/>
                                    </div>
                                </div>
                                <p style="font-size: 15px;margin-left: 50px" id="resultMsg"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
