<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>推送信息</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/liveValidation.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/static/js/content.min.js}"></script>
    <script th:src="@{/static/js/plugins/messager/jquery.messager.min.js}"></script>
    <script th:src="@{/static/js/plugins/layers/layer.js}"></script>
    <script th:src="@{/static/js/plugins/ajaxfileupload/ajaxfileupload.js}"></script>
    <script th:src="@{/static/js/livevalidation.js}"></script>
    <script>
        $(function () {
            var oldPasswordValidation = new LiveValidation("oldPassword", {
                onlyOnBlur: true,
                validMessage: ' ',
                onsubmit: true
            });
            oldPasswordValidation.add(Validate.Presence, {failureMessage: "密码不能为空"});
            oldPasswordValidation.add(Validate.Length, {minimum: 6, tooShortMessage: "密码不能低于6位"});

            var nameValidation = new LiveValidation("newPassword", {
                onlyOnBlur: true,
                validMessage: ' ',
                onsubmit: true
            });
            nameValidation.add(Validate.Presence, {failureMessage: "密码不能为空"});
            nameValidation.add(Validate.Length, {minimum: 6, tooShortMessage: "密码不能低于6位"});

            var versionCodeValidation = new LiveValidation("newPasswordCheck", {
                onlyOnBlur: true,
                validMessage: " ",
                onsubmit: true
            });
            versionCodeValidation.add(Validate.Presence, {failureMessage: "密码不能为空"});
            versionCodeValidation.add(Validate.Confirmation, {match: 'newPassword', failureMessage: "两次输入密码不同"});

        })

    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <a class="collapse-link">
                    <div class="ibox-title">
                        <h2>密码修改</h2>
                    </div>
                </a>
                <div class="ibox-content">
                    <div class="container">
                        <form  th:action="@{/manager/admin/modifyPassword}" role="form" class="form-horizontal"
                              method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">原密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="oldPassword" name="oldPassword" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新密码:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="newPassword" name="newPassword" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新密码确认:</label>
                                <div class="col-sm-4">
                                    <input type="password" id="newPasswordCheck" name="newPasswordCheck"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-default" id="submit">保存</button>
                                </div>
                            </div>
                            <div th:if="!${#lists.isEmpty(result)}">
                                <p th:if="${result} == 'success'" style="color: green;font-size: 14px;text-align: center">密码修改成功</p>
                                <p th:if="${result} =='error'" style="color: red;font-size: 14px;text-align: center">密码修改失败</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>