<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/error}">
<head>
    <title>HTTP 401未经过授权</title>
</head>
<body>
<div layout:fragment="content">
    <p style="font-size: 26px;font-weight: bolder;position: relative;">（HTTP 401）您没有权限访问此页面~</p>
    <p style="font-size: 20px;">可能原因：没有权限访问页面或操作数据。</p>
    <p style="font-size: 18px;">建议操作：</p>
    <p style="font-size: 18px;">1、请更换其它账号登录</p>
    <p style="font-size: 18px;">2、<a href="#" onclick="history.back()">返回重试</a>或<a th:href="@{/}">返回首页</a></p>
</div>
</body>
</html>