<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/error}">
<head>
    <title>HTTP 500服务器内部错误</title>
</head>
<body>
<div layout:fragment="content">
    <p style="font-size: 26px;font-weight: bolder;position: relative;">（HTTP 500）服务器内部错误~</p>
    <p style="font-size: 20px;">可能原因：您的进行了非法操作。</p>
    <p style="font-size: 18px;">建议操作：</p>
    <p style="font-size: 18px;">1、请检查您的操作是否正确</p>
    <p style="font-size: 18px;">2、<a href="#" onclick="history.back()">返回重试</a>或<a th:href="@{/}">返回首页</a></p>
</div>
</body>
</html>